.ListPost{
    position: relative;
    z-index: 1.5;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-90deg, rgba(108, 191, 240,0.7), rgba(255, 192, 255,0.7));
   
}
.PostList{

   
    display: flex;
    justify-content: center;
}
.PostItem{
    margin-top: 50px;
    margin-bottom: 50px;
   
    width: 300px;
    height: 400px;
    background-color: aqua;
}