.HeaderView{
    
    width: 100%;
    height: 100%;
   
    
}
.HeaderViewImg{
  z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
  filter: linear-gradient(-90deg, purple, pink);
  width: 100%;
  height: auto;
}
.headerView-textItem{
 
  width: 100%;
  height: 100%;
    margin-top: 17%;
  z-index: 1.5;
  top: 0px;
  
  color: #fff;
  position: absolute;
  
}
.headerView-textItem-info{
  margin-top: 20px;
  font-style: italic;
  font-weight: 400;
  font-size: 70px;
}
.headerView-textItem-title{
  
  font-style: italic;
  font-weight: 600;
  color:  rgb(248, 194, 242);
 
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}